/* =============
    About Welcome Page
============= */

.about-welcome-page{

    h1{
        font-family: 'montserrat';
        font-size: 120px;
        font-weight: 600;
    }

    .about-nasa-worm-logo{
        width: 140px;

    }

    .astronaut{
        img{
            justify-content: left;
        }
    }

    button{
        margin-left: 150px;
        background-color: #060b18;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 18px;
        width: 220px;
        height: 60px;
        font-weight: 400;
        color:#f8f9fa;
        border: 2px solid white;
        border-radius: 50px;

    }

    .words{
        justify-content: left;
    }
}