/* =============
    About Mission
============= */

.about-mission{

	padding-top: 200px;
	padding-bottom: 200px;



	h2{
		color: $moon;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 55px;
		margin: 0;
		white-space: nowrap;
		position: absolute;
		text-align: left;
		transform-origin: bottom; 
		margin-top: 200px;
		transform: rotate(-90deg);
		
		
    }

	h2, .img1{
		display: flex;
	}

	.mission-images{
		display: grid;
		margin: auto;
		width: 80%;
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		"img1 cap1"
		"cap2 img2"
		"img3 cap3";
		
	
		.img1{
			grid-area: img1;
			margin: 0px;
			justify-content: center;
			padding-left: 50px;
			padding-bottom: 50px;
			
		}
	
		.img2{
			grid-area: img2;
			padding-bottom: 50px;
			padding-right: 150px;
			margin-left: 80px;
		}
	
		.img3{
			grid-area: img3;
			
			padding-left: 100px;
			/*border-left: 2px solid $moon;
			margin: auto;
			height: 150%*/
		}
	
		.cap1{
			grid-area: cap1;
			padding-top: 100px;
			padding-left: 78px;
		}
	
		.cap2{
			grid-area: cap2;
			text-align: right;
			margin-right: 30px;
			padding-top: 150px;
		}
	
		.cap3{
			grid-area: cap3;
			padding-top: 190px;
			padding-left: 78px;

		}

		p{
			font-family: 'raleway';
			font-weight: 400;
			font-size: 24px;
			line-height: 38px;
			letter-spacing: 7%;
		}
		
	}

}



	/*"m1 caption-1"
	"caption-2 m2"
	"m3 caption-3";

	.m1{
		grid-area: m1;
	}

	.caption-1{
		grid-area: caption-1;
		color: white;
		font-family: 'raleway';
		font-weight: 400;
		font-size: 20px;
		text-align: left;
	}

	.m2{
		grid-area: m2;
	}

	.caption-2{
		grid-area: caption-2;
		color: white;
		font-family: 'raleway';
		font-weight: 400;
		font-size: 20px;
		text-align: right;
	}

	.m3{
		grid-area: m3;
	}

	.caption-3{
		grid-area: caption-3;
		color: white;
		font-family: 'raleway';
		font-weight: 400;
		font-size: 20px;
		text-align: left;
	}*/