/* =============
    Articles
============= */

.articles{

    display: inline;
    grid-template-columns: 100%;
    justify-content: center;

    h2{
        padding-top: 150px;
        padding-bottom: 30px;
        color: $moon;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        align-items: center;
        text-align: center;

        @include xl{
            font-size: 46px;
        }
        

    }

    .article-title{

        position: relative;
        background-color: $outer-space;
        border: 15px solid $outer-space;
        margin: auto;
        width: 70%;
        margin-bottom: -92px;
        margin-left: 171px;

        @include xl{
            border: 5px solid $outer-space;
            width: 65%;
            
                
        }
        



        h3{
            font-family: 'montserrat';
            font-weight: 600;
            font-size: 32px;
            justify-content: left;


            
        }
    }




    .inside-box{
        border: 3px solid $dusty-blue;
        border-radius: 3px 16px 16px 16px;
        margin: auto;
        width: 70%;
        padding-top: 90px;
        padding-bottom: 75px;
        padding-left: 40px;
        padding-right: 70px;
        margin-bottom: 300px;

        h4{
            font-family: 'montserrat';
            font-weight: 400;
            font-size: 20px;
            padding-bottom: 50px;
            margin-top: 0px;
        }
        
        
        p{
            font-family: 'raleway';
            font-weight: 400;
            font-size: 15px;
            line-height: 37px;
            padding-bottom: 80px;

            a{
                padding-left: 10px;
                font-weight: 600;
            }
        }
    
        
    
        button{
        
            background-color: $moon;
            border-style: none;
            border-radius: 13px;
            color: $outer-space;
            font-family: 'montserrat';
            font-weight: 400;
            font-size: 12px;
            justify-content: right;
            align-items: right;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 13px;
            padding-right: 13px;
            float: right;
    
            span{
                font-weight: 600;
            }
        }
    }
}