/* =============
    Articles
============= */

.articles{

    display: inline;
    grid-template-columns: 100%;

    justify-content: center;

    h2{
        padding-top: 215px;
        padding-bottom: 100px;
        color: $moon;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        align-items: center;
        text-align: center;

    }

    h3{
        font-family: 'montserrat';
        font-weight: 600;
        font-size: 32px;
    }
}