/* =============
    Galleries
============= */

.galleries{

	background-color: #f8f9fa;
	justify-content: center;
	padding-bottom: 250px;

	.gallery-images{
		margin-top: 30px;
		margin-bottom: 80px;
		display: grid;
		grid-template-columns: 50px auto auto 50px;
		justify-content: center;
		grid-template-areas:
		". g1 g2 ."
		". g3 g4 .";

		.g1{
			grid-area: g1;
			.caption-1{
				color: $outer-space;
			}
		}

		.g2{
			grid-area: g2;
			.caption-2{
				color: $outer-space;
			}
		}

		.g3{
			grid-area: g3;
			.caption-3{
				color: $outer-space;
			}
			
		}

		.g4{
			grid-area: g4;
			.caption-4{
				color: $outer-space;
			}
		}
	}

	.g1, .g2, .g3, .g4{
        padding: 30px;
    }


    h2{
        padding-top: 215px;
        padding-bottom: 60px;
        color: #060b18;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        align-items: center;
        text-align: center;

		@include xl{
			font-size: 46px;
		}

    }

	a{
		text-decoration: none;
		color: $outer-space;
		font-family: 'montserrat';
		font-weight: 600;
		font-size: 25px;
		text-align: center;
	}

	.see-more{
		border-bottom: 5px dotted $outer-space;
		justify-content: center;
		text-align: center;
		margin-left: 650px;
		margin-right: 650px;
		background-color: $moon;
		padding-bottom: 16px;

		@include xl{
			margin: auto;
			width: 17%;
			margin-bottom: -40px;
		}
	}

	.gallery-nav-tabs{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;

		.left-arrow{
			padding-right: 90px;
		}

		.right-arrow{
			padding-left: 90px;
		}
	}

    ul {
		list-style: none;
		display: flex;
		border-bottom: 1.5px solid $outer-space;
		width: 58%;
		margin: auto;
		color: #060b18;

		@include xl{
			padding-bottom: 20px;
		}

		
		@include lg {
			align-items: center;
			justify-content: center;
		}

		li {
			color: #060b18;
			display: inline;
			justify-content: center;

			a{
				padding: 50px;
			}

			a:link,
            a:visited {
				color: #060b18;
				font-size: 20px;
				font-weight: 300;
				text-decoration: none;
				transition: 0.25s;
				font-family: 'raleway';

				@include xl{
					font-size: 24px;
				}

				@include lg {
					color: #060b18;
				}
				&:hover,
                &:active {
					color: #060b18;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}