/* =============
    Galleries
============= */

.galleries{

	background-color: #f8f9fa;
	justify-content: center;
	padding-bottom: 250px;

	@include md{
		background-color: #f8f9fa;

	}

	.gallery-images{
		margin-top: 30px;
		margin-bottom: 80px;
		display: grid;
		grid-template-columns: 50px auto auto 50px;
		justify-content: center;
		grid-template-areas:
		". g1 g2 ."
		". g3 g4 .";

		.g1{
			grid-area: g1;


			.caption-1{
				color: $outer-space;
			}
		}

		.g2{
			grid-area: g2;
			.caption-2{
				color: $outer-space;
			}
		}

		.g3{
			grid-area: g3;
			.caption-3{
				color: $outer-space;
			}
			
		}

		.g4{
			grid-area: g4;
			.caption-4{
				color: $outer-space;
			}
		}
	}

	.g1, .g2, .g3, .g4{
        padding: 30px;

		@include md{
			.pic1, .pic2, .pic3, .pic4{
				width: 90%;
				height: 90%;
				object-fit: contain;
				display: grid;
				justify-content: center;
			}

		}

    }

	.caption-1, .caption-2, .caption-3, .caption-4{
		font-size: 12px;
	}


    h2{
        padding-top: 215px;
        padding-bottom: 60px;
        color: #060b18;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        align-items: center;
        text-align: center;

		@include md{
			font-size: 32px;
		}

		@include lg{
			font-size: 42px;
		}

		@include xl{
			font-size: 46px;
		}

    }

	a{
		text-decoration: none;
		color: $outer-space;
		font-family: 'montserrat';
		font-weight: 600;
		font-size: 25px;
		text-align: center;

		@include md{
			font-size: 16px;
		}
	}

	.see-more{
		border-bottom: 5px dotted $outer-space;
		justify-content: center;
		text-align: center;
		margin-left: 650px;
		margin-right: 650px;
		background-color: $moon;
		padding-bottom: 16px;

		@include md{
			margin: auto;
			width: 15%;
			border-bottom: 5px dotted $outer-space;

		}


		@include xl{
			margin: auto;
			width: 17%;
			margin-bottom: -40px;
		}
	}

	.gallery-nav-tabs{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;

		@include md{
			margin: auto;
			width: 70%;

		}

		@include lg{
			margin: auto;
			width: 70%;

		}

		.left-arrow{
			padding-right: 90px;

			@include md{
				height: 7.04px;
				padding-right: 50px;
			}

			@include lg{
				width: 13.37px;
				padding-right: 70px;
			}
		}

		.right-arrow{
			padding-left: 90px;

			@include md{
				height: 7.04px;
				padding-left: 30px;

			}

			@include lg{
				width: 13.37px;
				padding-left: 70px;

			}
		}

		@include md{
			padding-bottom: 20px;
		}

		@include lg{
			padding-bottom: 15px;
		}
	}

    ul {
		list-style: none;
		display: flex;
		border-bottom: 1.5px solid $outer-space;
		width: 58%;
		margin: auto;
		color: #060b18;

		@include xl{
			padding-bottom: 20px;
		}

		
		@include lg {
			align-items: center;
			justify-content: center;
		}

		li {
			color: #060b18;
			display: inline;
			justify-content: center;

			a{
				padding: 50px;
			}

			a:link,
            a:visited {
				color: #060b18;
				font-size: 20px;
				font-weight: 300;
				text-decoration: none;
				transition: 0.25s;
				font-family: 'raleway';

				@include md{
					font-size: 16px;
				}

				@include xl{
					font-size: 24px;
				}

				@include lg {
					color: #060b18;
				}
				&:hover,
                &:active {
					color: #060b18;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}