/* =============
    Locations
============= */

.locations{

    h2{
		color: $moon;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 55px;
		margin: 0;
		white-space: nowrap;
		position: absolute;
		text-align: right;
        display: inline;
		transform-origin: bottom; 
		margin-top: 60px;
		transform: rotate(-90deg);

        @include md{
			font-size: 40px;
		}

        @include lg{
            font-size: 48px;
            margin-left: -20px;
        }
		
		
    }

    .map{
    
            display: block;
            margin: auto;
            width: 70%;
            margin-top: 200px;
    }

    h3{
        font-family: 'raleway';
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 4.5%;
        display: flex;
        margin: auto;
        width: 60%;
        justify-content: center;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 200px;

        @include md{
			font-size: 14px;
            line-height: 19.5px;
            letter-spacing: 4.5%;
		}
    }
    
}