/* =============
    Missions
============= */

.missions{
    background-color: $moon;
    background-image: url("img/svg/missions-extra.svg");
    background-image: cover;
    

    
    button{
        text-align: center;
        justify-content: center;
        padding: 50px;
        font-size: 40px;
        border-style: none;
        border-radius: 60px;
        margin-left: 600px;
        margin-top: 350px;
        margin-bottom: 300px;
        letter-spacing: 1px;

        img{
            width: 50px;
            padding-left: 60px;
        }

    }
}