/* =============
    Our History
============= */

.our-history{
    background-color: $moon;
    background-size: cover;
    padding-top: 200px;

    img{
        display: block;
        margin: auto;
        width: 50%;
        padding-top: 170px;
        padding-bottom: 200px;

    }

    h2{
        color: $outer-space;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        align-items: center;
        text-align: center;
        border-bottom: 2px solid $outer-space;
        margin: auto;
        width: 40%;
        padding-bottom: 40px;
        
    }

}

