/* =============
    Questions
============= */

.questions{

    .text{

        margin: auto;
        width: 95%;

        h2{
            font-family: 'montserrat';
            font-weight: 600;
            font-size: 36px;
            line-height: 160%;
            margin: auto;
            width: 70%;
            padding-top: 200px;
            padding-bottom: 20px;

        }

        h3{
            font-family: 'raleway';
            font-weight: 400;
            font-size: 24px;
            line-height: 160%;
            margin: auto;
            width: 70%;
            padding-bottom: 40px;
        }

        h4{
            font-family: 'raleway';
            font-weight: 400;
            font-size: 24px;
            line-height: 160%;
            margin: auto;
            width: 70%;
            padding-bottom: 70px;

        }
    }

    .circle{
        display: block;
        margin: auto;
        width: 10%;
        justify-content: left;

        @include lg{
            width: 5%;
        }

        .circ{
            margin-left: -450px;
            margin-bottom: -180px;



        }
    }


    .contact-ques{

        background-color: $outer-space;
        border: 3px solid $moon;
        padding-top: 60px;
        padding-bottom: 110px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 215px;

        @include lg{
            margin-left: 100px;
            margin-right: 100px;

        }

        @include xl{
            margin-left: 200px;
            margin-right: 200px;
        }

        input{
            border-radius: 7px;
        }

        h3{
            justify-content: center;
            text-align: center;
            font-size: 24px;
            font-family: 'montserrat';
            font-weight: 400;
            border-bottom: 5px dotted $moon;
            padding-bottom: 20px;
            margin: auto;
            width: 30%;
            margin-bottom: 60px;

        }

        .first-last-names{
            display: flex;
            justify-content: center;

            .first{
                padding-right: 127px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 30px;
                margin-right: 25px;
                margin-left: 45px;
            }

            .last{
                padding-right: 137px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 20px;
                margin-right: 50px;

            }
        }

        .email-input{
            display: flex;
            justify-content: center;

            .emailad{
                padding-right: 500px;
                padding-left: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 20px;

            }
        }

        .subject-dropdown{
            display: flex;
            justify-content: center;

            .subject{
                padding-right: 500px;
                padding-left: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 20px;

            }
        }

        .message-input{
            display: flex;
            justify-content: center;

            .message{
                padding-right: 500px;
                padding-left: 30px;
                padding-top: 5px;
                padding-bottom: 150px;
                margin-top: 20px;


            }
        }

        button{
            background-color: $moon;
            margin: auto;
            width: 50%;
            display: flex;
            justify-content: center;
            border-style: none;
            margin-top: 50px;

            .submit{
                text-align: center;
                justify-content: center;
                color: $outer-space;
                font-family: 'raleway';
                font-weight: 500;
                font-size: 18px;
            }

        }

    }

}

