/* =============
    Quote
============= */

.quote{

    display: grid;
    grid-template-columns: 100%;

    h3{
        align-items: center;
        text-align: center;

    }

    div{

        text-align: center;

    }
    
}