/* =============
    Welcome Page
============= */

.welcome-page{

    background-image: url("../img/images/WelcomePlanetBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 450px;

    h3{
        margin: auto;
        width: 60%;
        align-items: center;
        text-align: center;
        font-family: "raleway";
        font-weight: 500;
        font-size: 32px;
        line-height: 63px;
        border-top: 2px solid white;
        padding-top: 70px;
        padding-bottom: 120px;

    }

    .header1-logo{
        padding-bottom: 30px;
    }

    .bar-under-nasa{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button{
        background-color: #060b18;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 18px;
        width: 220px;
        height: 60px;
        font-weight: 400;
        color:#f8f9fa;
        border: 2px solid white;
        border-radius: 50px;
        margin-bottom: 300px;
        margin-left: 150px;

    }


    h1{
        color: white;
        margin-bottom: 60px;
    }

    .welcome-page-content{
        padding-left: 30px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .header1-logo, .bar-under-nasa, h1{
        padding-left: 150px;
    }
}