/* =============
    Footer
============= */

footer{
    display: inline;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". footer .";
    padding-top: 250px;
    

    .links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: right;
        padding-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;

        .logo{
            align-items: left;

            .img{
                width: 10px;
            }
        }
    }

    .links2{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        justify-content: right;
        padding-bottom: 60px;
        margin-right: 40px;

    }

    a{
        padding-bottom: 20px;
        text-align: right;
    }

    .social-media-icons{
        display: flex;
        margin: auto;
        width: 30%;
        justify-content: center;
        padding-bottom: 30px;

        img{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    

}