/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". header .";
    padding: 24px 0;
    background-color: $outer-space;
    border-bottom: 1px solid white;
    width: 100%;
    align-items: center;

    @include lg{
        margin: auto;
        width: 95%;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
    }

    .logo{
        .site-logo{
            width: 70px;
            display: flex;
            margin-top: 8px;

        }
    }
    

    ul{
        input{
            margin-left: -10px;
            background-color: white;

            @include lg{
                width: 130px;
                height: 30px
            }
            
        }
    }
    


    div{
        grid-area: header;
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: "logo burger";

        @include lg{
            grid-template-areas: "logo nav";

        }

        .burger-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: white;
                font-size: 20px;


                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}