/* =============
    Header
============= */

header{
    display: grid;
    margin-left: 72px;
    margin-right: 72px;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    padding: 24px 0;
    width: 100%;
    background-color: $outer-space;
    border-bottom: 1px solid white;


    div{
        grid-area: header;

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "logo burger";

        @include lg{
            grid-template-areas: "logo nav";

        }

        .logo{
            color: white;
            font-size: 40px;
        }

        .burger-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: white;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}