/* =============
    Navigation
============= */

nav{
	// this makes the nav not show up on the mobile sizes


    display: none;
	background-color: $outer-space;
	height: 100vh;
	padding: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;

	@include lg {
		background-color: $outer-space;
		display: block;
		height: 100%;
		padding: 0;
		position: relative;
		width: 100%;
	}

	aside {
		display: flex;
		justify-content: flex-end;
		button {
			background-color: transparent;
			border: 2px solid white;
			color: $white;
			font-size: 0;
			
			&:hover{ 
				cursor: pointer; 
			}
		}
	}

	ul {
		color: white;
		height: 100%;
		padding-top: 20%;
		height: 34px;

		button{
			background-color: white;
			border: 6.5px white solid;
			border-radius: 50px 0px 0px 50px;
			
			

			img{
				width: 15px;
				
			}
		}

		input{
			border-radius: 0px 50px 50px 0px;
		}
		@include lg {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding-top: 2px;
		}

		li {
			color: white;
			display: flex;
			justify-content: flex-end;
			margin-bottom: 24px;
			text-align: right;
			margin-left: 10px;
			margin-right: 10px;

			a{
				margin-right: 30px;
			}

			@include lg {
				margin-bottom: 0;
				margin-left: 16px;
				padding-left: 24px;
			}
			a:link,
            a:visited {
				color: $white;
				margin-top: 10px;
				font-size: 18px;
				font-weight: 300;
				text-decoration: none;
				transition: 0.25s;
				@include lg {
					color: white;
				}
				&:hover,
                &:active {
					color: white;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}
